name: Compile LaTeX

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  check-markdown:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3

      - uses: DavidAnson/markdownlint-cli2-action@v13.0.0
        with:
          fix: true
          globs: '**/*.md'

  build-latex:
    runs-on: ubuntu-latest
    env: 
      ROAD: "\\newcommand{\\ROAD}{.}"
    steps:
      - uses: actions/checkout@v3

      # Fake display for plantuml
      - name: Set up Xvfb
        run: |
          sudo apt-get install -y xvfb
          sudo Xvfb :99 -ac -screen 0 1024x768x8 &
          export DISPLAY=:99

      - name: Compiling LaTeX documents
        uses: xu-cheng/latex-action@v2
        with:
          root_file: main.tex
          working_directory: src
          args: -pdf -halt-on-error -synctex=1 -interaction=nonstopmode --shell-escape --enable-write18
          extra_system_packages: 'inkscape openjdk17'

      - name: Upload LaTeX documents to artifacts
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: Bachelor-Thesis
          path: src/main.pdf
          if-no-files-found: error
          