name: Compile LaTeX

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-latex:
    runs-on: ubuntu-latest
    env: 
      ROAD: "\\NewCommand{\\ROAD}{.}"
      TEXMF_OUTPUT_DIRECTORY: "."
    steps:
      - uses: actions/checkout@v3

      - name: Install Java 17
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-17-jdk

      - name: Force Java 17 system-wide
        run: |
          sudo update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java
          sudo update-alternatives --set javac /usr/lib/jvm/java-17-openjdk-amd64/bin/javac
          java -version

      # Fake display for plantuml
      - name: Set up Xvfb
        run: |
          sudo apt-get install -y xvfb
          sudo Xvfb :99 -ac -screen 0 1024x768x8 &
          export DISPLAY=:99

      # Compiling LaTeX documents
      - name: Compiling LaTeX documents
        uses: xu-cheng/latex-action@v2
        with:
          root_file: main.tex
          working_directory: src
          args: -pdf -halt-on-error -synctex=1 -interaction=nonstopmode --shell-escape --enable-write18
          extra_system_packages: 'inkscape openjdk17'
        # env:
          # JAVA_TOOL_OPTIONS: "-Djava.awt.headless=false"

      # Upload LaTeX documents to artifacts
      - name: Upload LaTeX documents to artifacts
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: Bachelor-Thesis
          path: src/main.pdf
          if-no-files-found: error
